@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: raleway, Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

#hero-image {
    width: 100vw;
} 

h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -10px;
}

p {
    font-size: 25px;
    font-family: 300;
}

.chairdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid black 1px;
}

.chairmodel {
    width: 700px;
    height: 700px;
    border: solid black 1px;
    border-radius: 30px;
}

.Hotspot {
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    font-weight: 200;
    border: solid rgb(57, 57, 57) 1px;
    border-radius: 5px;
    padding: 5px;
}