@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: raleway, Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

#hero-image {
    width: 100vw;
} 

.chairdiv {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chairmodel {
    width: 620px;
}

.Hotspot {
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    font-weight: 200;
    border: solid rgb(57, 57, 57) 1px;
    border-radius: 10px;
    padding: 10px;
}