@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: raleway, Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

#hero-image {
    width: 100vw;
} 

.chairdiv {
    background-color: blanchedalmond;
}